body,
html {
	font-family: Nunito Sans;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 62.5%;
	margin: 0;
}

/*list items for navbar*/

li {
	list-style: none;
	letter-spacing: 0.5rem;
}

/*link tags for navbar*/

a {
	text-decoration: none;
}

ul {
	padding: 0px
}

/*navbar*/

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	background-color: #fff;
	padding: 1rem;
	padding-bottom: 0.5rem;
	opacity: 0.9;

	
}

/*hamburger menu hidden when on desktop*/

.hamburger {
	display: none;
}

/*hamburger menu*/

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #000000;
}

/*items on navbar*/

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-left: 5rem;
}

/*change navbar link colors*/

.nav-link {
	font-size: 1.6rem;
	font-weight: 400;
	color: #475569;
}

/*change navbar link when hovering*/

.nav-link:hover {
	color: #000000;
}

/*navbar logo*/

.nav-logo {
	font-size: 2.5rem;
	font-weight: 500;
	color: #000000;
}

/*All Sections*/

section {
	box-sizing: border-box;
    padding: 0px 10px;
}

/*setting the section measurments for the about me section*/

.aboutmesection {
	padding: 3rem 4rem;
}

/*setting the about me measurements */

.aboutme {
	display: flex;
    justify-content: center;
	padding: 10px;
	margin: 0 auto;
}
/*setting the about me text (header) measurements */

.aboutmetext {
	display: block;
	color: #000000;
	padding-top: 30%;
	padding-left: 0px;
	font-size: 6rem;
	margin: 10px 0px;
	letter-spacing: 3px;
}


/*setting the about me text (paragraph) measurements */

.textinfo {
	font-size: 2rem;
}

/*setting the profile picture measurements */

.profilepic {
	width: 50%;
	height: auto;
	border-radius: 100%;

}

/*Setting the Social media pictures measurments*/

.socialpics {
	width: 30rem;
	height: auto;
	margin-right: 2rem;
	transition: transform .7s ease-in-out;
}
.socialpics:hover{
	transform: rotateZ(60deg);
}

/*Information paragraph measurements*/

.infotext {
	font-size: 1.8rem;
	padding-left: 1rem;
	padding-right: 2rem;
	letter-spacing: 1px;
	width: 60%;
}

/*Information section measurements*/

#information {
	display: flex;
	justify-content: flex-start;
	padding: 20px 12px;
}

/*Information section measurements Design and Programming columns*/


/*Skills Images measurements*/

.skill {
	display: inline-block;
	width: 7rem;
	height: auto;
}


/*Section heading measurements*/

.headings {
	font-size: 3rem;
}

/*Link to contact form*/

.cont {
	color: #7795c3;
	font-size: 3rem;
}

/*Setting the measurements for portfolio section*/

.portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: flex-start;
	margin-top: 5rem;
	gap: 7rem;
	row-gap: 4rem;
}

/*Setting the measurements for portfolio images*/

.portfolio-images {
	display: inline-block;
	width: 30rem;
	height: auto;
	transition: all .2s ease-in-out;
}

.portfolio-images:hover {
	transform: scale(1.04);
}
/*Setting the measurements for the contact me section*/

.formsection {
	display: flex;
	justify-content: center;
	padding: 0px;
	text-align: center;
	padding: 2rem 5rem;
	height: 60vh;
}

/*Setting the measurements for the contact me form*/

.form {
	margin: 10px 0px;
	display: flex;
	justify-content: center;
	align-content: center;
	padding-top: 2rem;
}

/*Setting the measurements for the contact me form text*/

/*Setting the measurements for the coffee gif*/

.coffee {
	text-align: center;
	padding-top: 5rem;
	font-size: 3rem;
}

/*Setting the measurements for the contact form*/

input {
	padding: 10px;
	margin: 10px 0;
	border: 0;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	width: 50%;
	border-radius: 1rem;
}

/*Setting the measurements for the message box*/

.message {
	height: 10rem;
}

/*Setting the measurements for the form button*/

.formbutton {
	width: 50%
}

/*Button for Contact Form*/

button {
	border: none;
	background-color: #7a6565;
	padding: 10px 30px;
	border-radius: 1rem;
	color: #fff;
	transition: all .2s ease-in-out;
}

button:hover {
	transform: scale(1.04);
}


.skills{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: space-between;
	flex-direction: row;
	margin: 5rem;
	gap: 7rem;
	row-gap: 4rem;
}
.card{
	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	padding: 2rem;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.cardtext{

	text-align: center;
	font-size: 1.5rem;
}

.skilltext{
	font-size: 2rem;
}

.center{
	

}

.infosection{
	display: flex;
	justify-content: center;
	flex: auto;
	padding: 0px;
	text-align: center;

}

.contacttext{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	font-size: 20px;
}

.container
{
	    display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 5rem;
		gap: 2rem;
		row-gap: 1rem;
}

.cat{
	width: 40rem;
	justify-content: center;
	align-items: center;
	padding-top: 20% ;
}

hr{
	width: 50%;
	text-align: center;
}

@media only screen and (max-width: 480px) {
		/*Navbar*/
		.nav-menu {
			position: fixed;
			left: -100%;
			top: 6rem;
			flex-direction: column;
			background-color: #fff;
			width: 100%;
			border-radius: 10px;
			text-align: center;
			transition: 0.3s;
			box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
		}
		.hamburger.active .bar:nth-child(2) {
			opacity: 0;
		}
		.hamburger.active .bar:nth-child(1) {
			transform: translateY(8px) rotate(45deg);
		}
		.hamburger.active .bar:nth-child(3) {
			transform: translateY(-8px) rotate(-45deg);
		}
		.nav-menu.active {
			left: 0;
		}
		.nav-item {
			margin: 2.5rem 0;
		}
		.hamburger {
			display: block;
			cursor: pointer;
		}
		/*About me Section*/
		.aboutmetext {
			display: block;
			padding-top: 1rem;
			font-size: 3rem;
			text-align: center;
		}

		.textinfo {
			font-size: 1.5rem;
			text-align: center;
		}
		.profilepic {
			width: 100%;
			height: auto;
			padding: 10px;
		}
		.social {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		.portfolio-images {

			width: 100%;
			height: auto;
			
		}
	.coffee {
		text-align: center;
	}
	.headings{
		font-size: 2rem;
	}
	.infotext{
		font-size: 1.5rem;
	}
	.skill {
		width: 6rem;
	}
	.skills{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 1rem;
		row-gap: 1rem;
		margin: 0;
	}
	.cardtext{
		font-size: 1.2rem;
	}
	.cont{
		font-size: 1.8rem;

	}
	.socialpics{
		width: 15rem;
	}
	.formtext {
	font-size: 2rem;
	}
	.formsection {
		display: flex;
		flex-direction: column;
	}
	.container
{
	    display: flex;
	
		flex-direction: row;
}
.aboutme {
	display: flex;
    justify-content: center;
	flex-direction: center;
	flex-direction: column;
}
.cat
 {display: flex;
justify-content: center;
align-items: center;
padding-top: 10%;
}


@media only screen and (max-width: 740px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 6rem;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu.active {
		left: 0;
	}
	.nav-item {
		margin: 2.5rem 0;
	}
	.hamburger {
		display: block;
		cursor: pointer;

	}
	.aboutmetext {
		display: block;
		padding-top: 1rem;
		font-size: 3rem;
		text-align: center;
	}
	.textinfo {
		font-size: 1.5rem;
		text-align: center;
	}
	.socialpics{
		width: 20rem;
	}
	.infotext{
		font-size: 1.5rem;
	}
	.headings{
		font-size: 2rem;
	}
	.skills{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 1rem;
		row-gap: 1rem;
		margin: 0;
	}
	.portfolio {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: flex-start;
		margin-top: 5rem;
		gap: 2rem;
		row-gap: 1rem;
	}
	
	/*Setting the measurements for portfolio images*/
	
	.portfolio-images {
		display: inline-block;
		width: 18rem;
		height: auto;
	}
		.formsection {
			display: flex;
			flex-direction: column;
		}
	.center{
		padding-top: 5rem;
	}
	.container
	{
			display: flex;
			flex-direction: row;
	}
	.aboutme {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.cat{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 10%;
	}
	.socialpics{
		width: 10rem;
	}

	

}




@media only screen and (max-width: 950px) {
	.navbar {
        background-color: #fff;
		opacity: 1;
	
		
	}
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 6rem;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu.active {
		left: 0;
	}
	.nav-item {
		margin: 2.5rem 0;
	}
	.hamburger {
		display: block;
		cursor: pointer;

	}
	.aboutmetext {
		display: block;
		padding-top: 1rem;
		font-size: 3rem;
		text-align: center;
	}
	.textinfo {
		font-size: 2rem;
		text-align: center;
	}
	.socialpics{
		width: 10rem;
	}
	
	.infotext{
		font-size: 1.5rem;
	}
	.headings{
		font-size: 2rem;
	}
	.skills{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 1rem;
		row-gap: 1rem;
		margin: 0;
	}
	.portfolio {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: flex-start;
		margin-top: 5rem;
		gap: 2rem;
		row-gap: 1rem;
	}
	
	/*Setting the measurements for portfolio images*/
	
	.portfolio-images {
		display: inline-block;
		width: 18rem;
		height: auto;
	

}
.center{
	padding-top: 9rem;
	
}
.container
{
	    display: flex;
		flex-direction: row;
}
.aboutme {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.cat{ display: flex;
justify-content: center;
align-items: center;
padding-top: 10%;

}
}
}
